#alert {
    border-radius: var(--input-border-radius);
    background-color: rgb(244, 67, 54);
    color: var(--text-color);
    height: 90px;
    width: 230px;
    top: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    animation: popup-animation 0.5s ease-out;
    font-size: 20px;
    display: none;
    opacity: 1;
}
@media screen and (max-width:768px){
    #alert {
        height: 45px;
        width: 110px;
        font-size: 10px;
    }
}

@keyframes popup-animation {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}